* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.container {
  width: 90%;
  display: flex;
}

.header_container {
  justify-content: space-between;
}

.logo {
  height: 90px;
  width: 15%;
  font-size: 40px;
  font-family: segoe UI;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 90px;
}

.nav {
  height: 90px;
  width: 35%;
  display: flex;
}

.nav-item {
  width: 20%;
  height: 90px;
  font-family: segoe UI;
  text-align: center;
  line-height: 90px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.nav-item:hover {
  background-color: white;
  color: rgba(16, 128, 234, 1);
}

.banner {
  height: 95vh;
  width: 100%;
  background-color: gray;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/251225/pexels-photo-251225.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.overlay {
  height: 95vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.banner_text {
  height: 350px;
  width: 50%;
  background-color: rgba(16, 128, 234, 0.7);
  font-family: segoe UI;
  display: flex;
  align-items: center;
  color: white;
}

.banner_title {
  font-size: 50px;
  margin-bottom: 15px;
}

.banner_desc {
  margin-bottom: 30px;
}

.padd {
  padding: 50px;
}

.btn {
  padding: 15px 60px 15px 60px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-family: segoe ui;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: white;
  color: rgba(16, 128, 234, 1);
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: segoe UI;
}

.services_container {
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  height: 400px;
  width: 47%;
  background-color: white;
  display: flex;
  margin-top: 20px;
}

.service_img {
  width: 40%;
  height: 400px;
  display: flex;
  overflow: hidden;
}

.service_details {
  width: 60%;
  height: 400px;
  display: flex;
  align-items: center;
}

.service_padd {
  padding: 20px;
}

.btn_shadow {
  background-color: rgba(16, 128, 234, 1);
  border: 2px solid rgba(16, 128, 234, 1);
}

.btn_shadow:hover {
  box-shadow: 3px 3px rgb(16, 128, 234);
}

.service_title {
  margin-bottom: 15px;
}

.service_desc {
  margin-bottom: 30px;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: segoe UI;
  align-items: center;
}

.about_container {
  margin-top: 30px;
  line-height: 30px;
  display: inline;
}

.start_text {
  font-size: 40px;
  font-weight: bold;
  color: gray;
}

.highlight {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgba(16, 128, 234, 1);
  display: flex;
  justify-content: center;
}

.highlight_container {
  justify-content: space-between;
}

.high_ele {
  width: 22%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Segoe UI;
  text-align: center;
  color: white;
}

.high_ele_child:hover {
  transition: 0.4s;
  transform: scale(1.2);
}

.high_title {
  font-size: 60px;
}

.high_desc {
  font-size: 25px;
}

.quote {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Segoe UI;
}

.quote_container {
  flex-direction: column;
  align-items: center;
}

.quote_title {
  font-size: 50px;
  margin-bottom: 20px;
}

.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e4e4e4;
  font-family: segoe UI;
}

.portfolio_container {
  width: 100%;
  flex-wrap: wrap;
}

.project {
  width: 25%;
  height: 400px;
  background-color: red;
  display: flex;
  overflow: hidden;
}

.project_1 {
  background-image: url("https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.project_2 {
  background-image: url("https://images.pexels.com/photos/333525/pexels-photo-333525.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  align-items: flex-end;
}
.project_3 {
  background-image: url("https://images.pexels.com/photos/39603/space-shuttle-liftoff-atlantis-rocket-39603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.project_4 {
  background-image: url("https://images.pexels.com/photos/3887985/pexels-photo-3887985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  align-items: flex-end;
}
.project_5 {
  background-image: url("https://images.pexels.com/photos/5894435/pexels-photo-5894435.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}
.project_6 {
  background-image: url("https://images.pexels.com/photos/3494806/pexels-photo-3494806.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  align-items: flex-end;
}
.project_7 {
  background-image: url("https://images.pexels.com/photos/821749/pexels-photo-821749.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}
.project_8 {
  background-image: url("https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  align-items: flex-end;
}

.project_title {
  color: white;
  width: 100%;
  height: 150px;
  text-indent: 30px;
  line-height: 200px;
  background-color: rgba(16, 128, 234, 0.5);
  cursor: pointer;
  transition: 0.4s;
}

.project_title:hover {
  height: 400px;
  line-height: 400px;
  text-indent: 70px;
  text-shadow: 3px 3px rgb(58, 57, 57);
}

.project_title_medium:hover {
  text-indent: 100px;
}

.project_title_small:hover {
  text-indent: 140px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #353535;
  display: flex;
  justify-content: center;
}

.footer_child {
  height: 300px;
  width: 25%;
  font-family: segoe UI;
  display: flex;
  justify-content: center;
}

.footer_child_1 {
  align-items: center;
  color: white;
  font-size: 30px;
  transition: 0.4s;
}
.footer_child_1:hover {
  font-size: 35px;
  text-shadow: 5px 5px black;
}

ul {
  margin-top: 40px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  color: white;
}

.first {
  font-size: 22px;
}

.pointer:hover {
  cursor: pointer;
}

.footer_child_4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_container {
  width: 60%;
  justify-content: space-between;
}

.social_icon {
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.4s;
}

.si1 {
  background-image: url("https://cdn2.iconfinder.com/data/icons/20-free-flat-shadow-style-original-colour-icons/128/social_media_icons_flat_shadow_set_256x256_0002_twitter.png");
}

.si2 {
  background-image: url("https://cdn2.iconfinder.com/data/icons/20-free-flat-shadow-style-original-colour-icons/128/social_media_icons_flat_shadow_set_256x256_0010_linkedin.png");
}

.si3 {
  background-image: url("https://cdn2.iconfinder.com/data/icons/20-free-flat-shadow-style-original-colour-icons/128/social_media_icons_flat_shadow_set_256x256_0000_facebook.png");
}

.si4 {
  background-image: url("https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-128.png");
}

.social_icon:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px black;
}
